In [1]:
#!pip install sdv

In [2]:
import pandas as pd

In [3]:
train_file = "house-prices/train.csv"

In [4]:
df = pd.read_csv(train_file,keep_default_na=False)

In [5]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65,8450,Pave,NA,Reg,Lvl,AllPub,...,0,NA,NA,NA,0,2,2008,WD,Normal,208500
1,2,20,RL,80,9600,Pave,NA,Reg,Lvl,AllPub,...,0,NA,NA,NA,0,5,2007,WD,Normal,181500
2,3,60,RL,68,11250,Pave,NA,IR1,Lvl,AllPub,...,0,NA,NA,NA,0,9,2008,WD,Normal,223500
3,4,70,RL,60,9550,Pave,NA,IR1,Lvl,AllPub,...,0,NA,NA,NA,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84,14260,Pave,NA,IR1,Lvl,AllPub,...,0,NA,NA,NA,0,12,2008,WD,Normal,250000

In [6]:
from sdv.tabular import GaussianCopula

In [7]:
model = GaussianCopula(primary_key='Id')

In [8]:
model.fit(df)

/opt/conda/lib/python3.10/site-packages/copulas/univariate/truncated_gaussian.py:45: RuntimeWarning: divide by zero encountered in double_scalars
  a = (self.min - loc) / scale
/opt/conda/lib/python3.10/site-packages/copulas/univariate/truncated_gaussian.py:46: RuntimeWarning: divide by zero encountered in double_scalars
  b = (self.max - loc) / scale

In [9]:
new_data = model.sample(num_rows=1500)

In [10]:
new_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,0,82,RL,46,2387,Pave,NA,Reg,Lvl,AllPub,...,57,NA,NA,NA,645,6,2010,WD,Normal,175429
1,1,122,RL,110,19626,Pave,NA,IR1,Lvl,AllPub,...,41,NA,NA,NA,91,6,2009,WD,Normal,306276
2,2,42,RL,86,32740,Pave,NA,Reg,Low,AllPub,...,70,NA,NA,NA,1208,1,2007,WD,Normal,359186
3,3,116,RM,65,10575,Pave,NA,Reg,Lvl,AllPub,...,45,NA,NA,NA,396,11,2009,WD,Normal,297049
4,4,85,RL,80,26155,Pave,NA,IR1,Lvl,AllPub,...,52,NA,NA,NA,176,6,2008,WD,Normal,82544

In [11]:
from sdv.evaluation import evaluate
evaluate(new_data.drop('Id',axis=1), df.drop('Id',axis=1))

0.8407357978069316

In [12]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1500 non-null   int64
 1   MSSubClass     1500 non-null   int64
 2   MSZoning       1500 non-null   object
 3   LotFrontage    1500 non-null   object
 4   LotArea        1500 non-null   int64
 5   Street         1500 non-null   object
 6   Alley          1500 non-null   object
 7   LotShape       1500 non-null   object
 8   LandContour    1500 non-null   object
 9   Utilities      1500 non-null   object
 10  LotConfig      1500 non-null   object
 11  LandSlope      1500 non-null   object
 12  Neighborhood   1500 non-null   object
 13  Condition1     1500 non-null   object
 14  Condition2     1500 non-null   object
 15  BldgType       1500 non-null   object
 16  HouseStyle     1500 non-null   object
 17  OverallQual    1500 non-null   int64
 18  OverallCond    1500 non-null   int64
 19  YearBuilt      1500 non-null   int64
 20  YearRemodAdd   1500 non-null   int64
 21  RoofStyle      1500 non-null   object
 22  RoofMatl       1500 non-null   object
 23  Exterior1st    1500 non-null   object
 24  Exterior2nd    1500 non-null   object
 25  MasVnrType     1500 non-null   object
 26  MasVnrArea     1500 non-null   object
 27  ExterQual      1500 non-null   object
 28  ExterCond      1500 non-null   object
 29  Foundation     1500 non-null   object
 30  BsmtQual       1500 non-null   object
 31  BsmtCond       1500 non-null   object
 32  BsmtExposure   1500 non-null   object
 33  BsmtFinType1   1500 non-null   object
 34  BsmtFinSF1     1500 non-null   int64
 35  BsmtFinType2   1500 non-null   object
 36  BsmtFinSF2     1500 non-null   int64
 37  BsmtUnfSF      1500 non-null   int64
 38  TotalBsmtSF    1500 non-null   int64
 39  Heating        1500 non-null   object
 40  HeatingQC      1500 non-null   object
 41  CentralAir     1500 non-null   object
 42  Electrical     1500 non-null   object
 43  1stFlrSF       1500 non-null   int64
 44  2ndFlrSF       1500 non-null   int64
 45  LowQualFinSF   1500 non-null   int64
 46  GrLivArea      1500 non-null   int64
 47  BsmtFullBath   1500 non-null   int64
 48  BsmtHalfBath   1500 non-null   int64
 49  FullBath       1500 non-null   int64
 50  HalfBath       1500 non-null   int64
 51  BedroomAbvGr   1500 non-null   int64
 52  KitchenAbvGr   1500 non-null   int64
 53  KitchenQual    1500 non-null   object
 54  TotRmsAbvGrd   1500 non-null   int64
 55  Functional     1500 non-null   object
 56  Fireplaces     1500 non-null   int64
 57  FireplaceQu    1500 non-null   object
 58  GarageType     1500 non-null   object
 59  GarageYrBlt    1500 non-null   object
 60  GarageFinish   1500 non-null   object
 61  GarageCars     1500 non-null   int64
 62  GarageArea     1500 non-null   int64
 63  GarageQual     1500 non-null   object
 64  GarageCond     1500 non-null   object
 65  PavedDrive     1500 non-null   object
 66  WoodDeckSF     1500 non-null   int64
 67  OpenPorchSF    1500 non-null   int64
 68  EnclosedPorch  1500 non-null   int64
 69  3SsnPorch      1500 non-null   int64
 70  ScreenPorch    1500 non-null   int64
 71  PoolArea       1500 non-null   int64
 72  PoolQC         1500 non-null   object
 73  Fence          1500 non-null   object
 74  MiscFeature    1500 non-null   object
 75  MiscVal        1500 non-null   int64
 76  MoSold         1500 non-null   int64
 77  YrSold         1500 non-null   int64
 78  SaleType       1500 non-null   object
 79  SaleCondition  1500 non-null   object
 80  SalePrice      1500 non-null   int64
dtypes: int64(35), object(46)
memory usage: 949.3+ KB

In [13]:
new_data['Id'] = new_data['Id'] + 8000

In [14]:
new_data.to_csv("house-prices/train_sdv.csv",index=False)